@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/bulma.sass';


// override bulma + add custom scss here

// sticky footer
// TODO: re examine to ensure maximum browser compatibility
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.primary-content {
  flex: 1;
}
